<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Cuenta">
        <setting id="username" label="Usuario (Email)" type="text" default=""/>
        <setting id="password" label="Contraseña" type="text" option="hidden" default=""/>
    </category>
    <category label="General">
        <setting id="debug" label="Modo Debug" type="boolean" default="false"/>
        <setting id="menu_order" type="text" label="Orden del Menú (search,categories,premium,u7d,live,account)" default="search,categories,premium,u7d,live,account"/>
        <setting id="categories_order" type="text" label="Orden de Categorías (Series,Cine,Programas...)" default=""/>
    </category>
</settings>