<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- CATEGORIA: INTERFAZ Y NAVEGACION -->
    <category label="Interfaz">
        <setting type="lsep" label="Vistas y Paginación" />
        <setting id="items_per_page" type="number" label="Elementos por página" default="24" minimum="10" maximum="100" />
        
        <setting type="lsep" label="Personalizar Menú Principal" />
        <setting id="show_documentaries" type="bool" label="Mostrar sección Documentales" default="true" />
        <setting id="show_dibujos" type="bool" label="Mostrar sección Dibujos" default="true" />
        <setting id="show_anime" type="bool" label="Mostrar sección Anime" default="true" />
        <setting id="show_retro" type="bool" label="Mostrar sección Retro" default="true" />
        
        </category>

    <!-- CATEGORIA: REPRODUCCION -->
    <category label="Reproducción">
        <setting type="lsep" label="Comportamiento" />
        <setting id="auto_play" type="bool" label="Reproducción automática (Auto-Play)" default="false" />
        
        <setting type="lsep" label="Filtros de Calidad" />
        <setting id="max_quality" type="enum" label="Calidad Máxima Permitida" values="Sin límite (4K)|1080p|720p|SD" default="0" />
    </category>

    <!-- CATEGORIA: CUENTAS Y PROVEEDORES -->
    <category label="Cuentas">
        <setting type="lsep" label="AllDebrid" />
        <setting type="action" label="Autenticar AllDebrid con PIN ►" action="RunPlugin(plugin://plugin.video.rusterwolf77/?action=auth_alldebrid)" option="close" />
        <setting id="alldebrid_api_key" type="text" label="API Key" default="" option="hidden" />
        
        <setting type="lsep" label="Real-Debrid" />
        <setting type="action" label="Autenticar Real-Debrid con PIN ►" action="RunPlugin(plugin://plugin.video.rusterwolf77/?action=auth_realdebrid)" option="close" />
        <setting id="realdebrid_api_key" type="text" label="Token" default="" option="hidden" />
    </category>
</settings>
